# Build and deploying a Sphinx site to GitHub Pages
name: Deploy Sphinx site to Pages

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["main"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

# Default to bash
defaults:
  run:
    shell: bash

jobs:
  # Build job
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Install Sphinx
        run: sudo pip install sphinx
      - name: Install Sphinx RTD Theme
        run: sudo pip install sphinx-rtd-theme
      - name: Install Sphinx Markdown Builder
        run: sudo pip install sphinx-markdown-builder
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v3
      - name: Build with Sphinx
        env:
        run: cd ./doc/sphinx && ./build_docs.py --html
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: ./doc/sphinx/_build/html

  # Deployment job
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
